<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>ekstrabladet.dk - Tech Radar</title>
<link rel="shortcut icon" href="https://ekstrabladet.dk/favicon.ico">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="radar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="radar.css">
</head>
<body class=darkmode>
    <div id="topbar">
    <a href="/" id="eb-logo">
      <img src="https://ekstrabladet.dk/assets/svg/ekstrabladet.svg">
    </a>
    <h1>Tech Radar</h1>
  </div>


  <svg id="radar"></svg>

  <script>
  radar_visualization({
    svg_id: "radar",
    width: 1400,
    height: 950,
    // title: "ekstrabladet.dk - Tech Radar",
    quadrants: [
      { name: "Languages" },
      { name: "Infrastructure" },
      { name: "Datastores" },
      { name: "Frameworks" },
    ],
    rings: [
      { name: "Adopt", color: "#93c47d", radius: 200 },
      { name: "Trial", color: "#93d2c2", radius: 300 },
      { name: "Hold", color: "#efafa9", radius: 400}
    ],
    print_layout: true,
    disableMove: true,
    // footer: "▲ moved up     ▼ moved down",
    // zoomed_quadrant: 0,
    //ENTRIES
    entries: {{ENTRIES}}
  });
  </script>

  <div class="columns">
    <div>
      <h3>What is the Tech Radar?</h3>
      <p>
      Our Tech Radar is a list of technologies that is used to produce the basic web application ekstrabladet.dk. 
      This includes services and infrastructure components behind the application. 
      The technology list is complemented by an assessment result, called <em>ring assignment</em>. 
      We use tree rings with the following semantics:
      </p>
      <ul>
        <li><strong class="r0">Adopt</strong><br>Technologies we have high confidence in to serve our purpose, also in large scale. Technologies with a usage culture in our production environment for ekstrabladet.dk, low risk and recommended to be widely used.</li>
        <li><strong class="r1">Trial</strong><br>Technologies that we have seen work with success in project work to solve a real problem; first serious usage experience that confirm benefits and can uncover limitations. Trial technologies are slightly more risky; some engineers in our organization walked this path and will share knowledge and experiences.</li>
        <!-- <li><strong class="r2">ASSESS</strong> &mdash; Technologies that are promising and have clear potential value-add for us; technologies worth to invest some research and prototyping efforts in to see if it has impact. ASSESS technologies have higher risks; they are often brand new and highly unproven in our organisation. You will find some engineers that have knowledge in the technology and promote it, you may even find teams that have started a prototyping effort.</li> -->
        <li><strong class="r2">Hold</strong><br>Technologies not recommended to be used for new projects. Technologies that we think are not (yet) worth to (further) invest in. Hold technologies should not be used for new projects, but usually can be continued for existing projects.</li>
      </ul>
    </div>
    <div>
      <h3>What is the purpose?</h3>
      <p>
      The Tech Radar is a tool to inspire and support Engineering teams at Ekstra Bladet to pick the best technologies for new projects; it provides a platform to share knowledge and experience in technologies, to reflect on technology decisions and continuously evolve our technology landscape. Based on the <a href="https://www.thoughtworks.com/radar">pioneering work of ThoughtWorks</a>, our Tech Radar sets out the changes in technologies that are interesting in software development &mdash; changes that we think our engineering teams should pay attention to and use in their projects.
      </p>
      <p>
      Furthermore we use this Tech Radar as an open window for possible job candidates that are more than welcome to contact us at this email address: <i>eb-techradar@eb.dk</i>
      </p>
      <p>
      <em>BTW, if you would like to create your own Tech Radar &mdash; Zalando have <a href="https://github.com/zalando/tech-radar">open sourced the code</a> to generate this visualization.</em>
      </p>
      <p>
        This radar was last updated {{DATE}}
	  </p>
    </div>
  </div>
</body>
</html>
