:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray3: #999999;
  --color-gray4: #c8c8c8;
  --color-gray7: #efefef;
  --color-turquoise: #00b6d2;
  --color-blue: #1058c2;
  --color-darkblue: #1a237e;
  --color-purple: #51208c;
  --color-green: #029e5d;
  --color-yellow: #ffff00;
  --color-orange: #e96c0d;
  --color-rose: #dc7095;
  --color-bordeaux: #b31e61;
  --color-red: #bd1118;
  --color-native-dark: #84a8c4;
  --color-native-light: #cec4a6;
  --color-native-sand: #aaa9a1;

  --color-eb-red: #B30000;
  
  --color-r0: var(--color-green);
  --color-r1: var(--color-orange);
  --color-r2: var(--color-bordeaux);

  --color-bubble-bg: var(--color-black);
  --color-bubble-txt: var(--color-white);
  
  --color-bg-body: #fcfcfc;
  --color-text-subheaders:#2f2f2f;
  --color-text: #2f2f2f;
}

body.darkmode {
  --color-bg-body: #222;
  --color-text-subheaders:#aaa9a1;
  --color-text: #e6e6e6;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  font-family: Arial, Helvetica;
  padding-bottom: 50px;
  
  margin:    0 auto;
  max-width: 1400px;
  padding: 0 1rem;

  background-color: var(--color-bg-body);
  fill: var(--color-text);
  color: var(--color-text);

  transition: background-color 250ms;
  
  line-height: 1.2;
}
h3 {margin-top: 6rem;}
ul {padding: 0; margin: 0;}
li {margin: 1rem;}
li strong {color: var(--color-turquoise)}
a { color: var(--color-turquoise);}


.svg-quadrant {
  stroke: var(--color-eb-red);
}
.svg-quadrant circle {
  fill: #ddd;
  stroke-width: 0;
}
.svg-quadrant circle:last-of-type {
  fill: transparent !important;
  stroke-width: 1;
}
.svg-quadrant.active {
  stroke: #fff;
}
.svg-quadrant.active circle {
  fill: var(--color-eb-red);
}

.svg-quadrant line {
  stroke-width: 2;
}
.svg-quadrant:not(.no-dash) line:nth-last-of-type(-n+2) {
  stroke-width: 1;
  stroke-dasharray: 2;
}

#topbar {
  display: flex;
  align-items: center;;
}
#topbar h1 {
  margin-left: 1rem;
  margin-right: auto;
}
#topbar .icon {
  cursor: pointer;
  margin-left: .25rem;
  min-height: 40px;
  max-height: 40px;
  min-width: 40px;
  max-width: 40px;
}
#topbar .icon.x2 {
  min-width: 75px;
  display: flex;
  align-items: center;
  background-color: #ddd;
  fill: var(--color-eb-red);
  padding: 0 0.3rem;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
}
#topbar .icon.x2 > .toggler {
  aspect-ratio: 1/1;
  width: 36px;
  background-color: var(--color-eb-red);
  border-radius: 20px;
  position: absolute;
  left: 2;
  transition: all 250ms;
}
#topbar .icon.x2.active > .toggler {
  transform: translateX(95%);
}
#topbar .icon > svg {
  height: 30px;
  aspect-ratio: 1/1;
}

#eb-logo {
  min-width: calc(75px * 1.29);
  max-width: calc(75px * 1.29);
  display: inline-block;
  align-self: flex-start;
}
#eb-logo img {width: 100%;}

/* tech-radar styles */
.tech-radar .grid line,
.tech-radar .grid circle {
  stroke: var(--color-gray7);
  stroke-width: 2px;
  fill: none;
}

@media only screen and (min-width: 650px) {
  .columns {
    display: flex;
  }
  .columns>div {
    width: 50%;
    flex: 1;
  }
  .columns>div:first-child {
    padding-right: 1rem;
  }
  .columns>div+div {
    padding-left: 1rem;
  }
} 

.tech-radar .headertitle {
  font-size: 34px;
}

.tech-radar .ring-headers {
    font-size: 42px;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    opacity: .8;
}

.tech-radar .ring-header0 {
    fill: var(--color-r0);
}
.tech-radar .ring-header1 {
    fill: var(--color-r1);
}
.tech-radar .ring-header2 {
    fill: var(--color-r2);
}

.tech-radar .quadrant-headers {
  fill: var(--color-gray7);
  opacity:  0.7;
  font-size:1.4rem;
  font-style: italic;
}

.tech-radar .quadrant-subheaders {
  font-size: 1rem;
  fill: var(--color-text-subheaders);
}

.tech-radar .quadrant-tech {
  font-size: .9rem;
  fill: var(--color-text);
}

.tech-radar .blip text {
  fill: #fff; 
  pointer-events: none; 
  user-select: none;
}

.tech-radar .blip path {
  transform: scale(2);
}

.ringcategory {
    opacity: .8;
}

.ringcategory0 { fill: var(--color-r0);}
.ringcategory1 { fill: var(--color-r1);}
.ringcategory2 { fill: var(--color-r2);}


/* blips */
.tech-radar .blip {filter: drop-shadow( 2px 2px 2px rgba(0, 0, 0, .7))}
.tech-radar .blip * {transition: all 250ms ease-in-out;}
.tech-radar .blip:hover * {transform: scale(2); stroke-width: 2px; }
.tech-radar .blip:hover path {transform: scale(3); }

.tech-radar .blip .r0 { fill: var(--color-r0);}
.tech-radar .blip .r1 { fill: var(--color-r1);}
.tech-radar .blip .r2 { fill: var(--color-r2);}
/* .tech-radar .blip .r0.g1 if diif colors in diff quadrants */

/* lists */
ul {list-style: none;}
li>strong {
  font-size: .8rem;
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  display: inline-block;
  width: 80px;
  text-align: center;
}
li>strong.r0 { background-color: var(--color-r0); color: #fff;}
li>strong.r1 { background-color: var(--color-r1); color: #000;}
li>strong.r2 { background-color: var(--color-r2); color: #fff;}

/* hover tooltip*/
.tech-radar g#bubble {
  opacity: 0;
  pointer-events: none;
  user-select: none;

  font-family: sans-serif;
  font-size: 1rem;
  fill: var(--color-bubble-bg);
}
.tech-radar g#bubble text {
  fill: var(--color-bubble-txt);
}

.tech-radar .footer {
  color: var(--color-text);
}

/* quick fix */
*[fill="white"] {
  fill: white !important;
}
.blip .r1+text {
  fill: black !important;
}


